.my-projects {
    border: dashed;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding-top: 1rem;
}

.project-title {
    text-align: center;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 150%;
}

.project-img {
    margin-left: 3px;
    width: 26rem;
    height: 15rem;
    border-radius: 10%;
}

.project-tags {
    text-align: center;
    margin-top: -5px;
    padding: 0;
    font-size: 80%;
}

.project {
    width: 27rem;
    height: 20rem;
    border: solid;
    border-width: thick;
    margin-bottom: 1rem;
    border-radius: 10%;
    background-color: #d4e7ee;
}

@media (max-width: 1000px) {
    .my-projects {
        grid-template-columns: auto;
    }
}

.project-div {
    display: block;
}

.project-paragraph {
    font-size: 150%;
}